@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/******** Falar sobre:  zerar as propriedades **********/
* {/* zerando as propriedades que já vem pré-definidas no css*/
    margin: 0; /*Espaçamento externo*/
    padding: 0; /*Espaçamento interno */
    box-sizing: border-box; /*não soma as bordas e margens com altura e largura de um elemento*/
}

/******** Falar sobre: body - cor de fundo e font-family **********/

body { /*corpo = conteúdo*/
    background-color: #5fbbf0; /* cor de fundo */
    font-family: 'Roboto', sans-serif; /*fonte para tudo que está no body*/
}


header { /*cabeçalho*/
    height: 76px; /*altura*/
    background-color: white; /*cor de fundo*/
}

/******** Falar sobre: como deixar centralizado e com largura máxima **********/

.container-header {
    width: 100%; /*largura*/
    height: 76px; /*altura*/
    max-width: 1196px; /*largura máxima*/
    margin: 0 auto; /*centralizando o elemento*/
}

/******** Falar sobre: display-flex / justify-content / align-items / gap**********/

.content-header {
    height: 100%; /*altura*/
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: space-between; /*alinhar horizontalmente*/
    align-items: center; /*centralizar verticalmente*/
}

header ul {
    list-style: none; /* retira os pontinhos da lista*/
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: center; /*centralizar horizontalmente*/
    gap: 24px; /*espaçamento entre os elementos*/
}

/******** Falar sobre: as fontes **********/

header ul li a { /* header ul li a =  alteração dos links que estão nas listas do cabeçalho*/
    text-decoration: none; /*retirar o sublinhado do link*/
    color: black; /*cor da fonte*/
    font-size: 18px; /*tamanho da fonte*/
}

/******** Falar sobre: hover e transição**********/

header ul li a:hover { /*header ul li a:hover = hover utiliza-se quando passa o mouse em cima, ou seja, quando passar as alterações abaixo serão feitas*/
    color: #5fbbf0; /*cor da fonte*/
    transition: all ease 0.2s; /*tempo de transição ao colocar o mouse em cima*/
}


.banner { /*banner = começo da página inicial -> */
    width: 100%; /*largura*/
    height: calc(100vh - 76px); /*altura calculada = 100vh (100% da altura da janela de navegação) - 76px (altura do header)*/
}

.container-banner { /*existe para centralizar*/
    width: 100%; /*largura*/
    height: 100%; /*altura*/
    max-width: 1196px; /*largura máxima*/
    margin: 0 auto;  /*centralizando o elemento*/
    display: flex; /* facilitar o posicionamento dos elementos*/
    align-items: center; /*centralizar verticalmente*/
}

.banner-img {
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: center; /*alinhar horizontalmente*/
    margin-right: 100px; /*margem do lado direito*/
}

.banner-img img { /*alteração imagem do banner*/
    width: 450px; /*largura*/
}

/******** Falar sobre: margin e padding**********/

.banner-content h1 { /*conteúdo do banner - título*/
    color: white; /*cor da fonte*/
    font-size: 36px; /*tamanho da fonte*/
    text-transform: uppercase; /* transformar em letras maiúsculas*/
    margin-bottom: 24px; /*margem do lado debaixo*/
    text-align: right; /*texto do lado direito*/
}

.banner-content p { /*conteúdo do banner - parárafo*/
    font-size: 22px; /*tamanho da fonte*/
    margin-bottom: 32px; /*margem do lado de baixo*/
    text-align: right; /*texto do lado direito da página*/
}

.banner-links { /*botão do banner que vai para a página de Como Ajudar*/
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: end; /*alinhar horizontalmente*/
    align-items: center; /*centralizado verticalmente*/
    gap: 48px; /*espaçamento entre os elementos*/
}

/******** Falar sobre: border e border radius**********/

.banner-links a { /*alteração no botão do banner que vai para a página de Como Ajudar*/
    background-color: transparent; /*cor de fundo do link/botão*/
    font-size: 19px; /*tamanho da fonte*/
    font-weight: bold; /*negrito*/
    color: white; /*cor da fonte*/
    text-decoration: none; /*retirar o sublinhado do link*/
    text-transform: uppercase; /*transformar em letras maiúsculas*/
    border: 2px solid white; /*borda inteira*/
    border-radius: 8px; /*arredondamento da borda*/
    padding: 8px 24px; /*Espaçamento interno, sendo 8px em cima e embaixo e 24px nas laterais*/
}

.banner-links a:hover { /*hover altera o botão banner ao passar o mouse por cima*/
    background-color: white; /*cor de fundo do link/botão*/
    color: #5fbbf0; /*cor da fonte*/
    border: 2px solid white; /*borda inteira*/
    transition: all ease 0.2s; /*tempo de transição ao colocar o mouse em cima*/
}


.video { /* parte onde está o vídeo e o resumo*/
    width: 100%; /*largura*/
    background-color: white; /*cor de fundo*/
    padding: 80px 0; /*Espaçamento interno, sendo 80px em cima e embaixo e 0 nas laterais*/
}

.container-video { /*existe para centralizar*/
    width: 100%; /*largura*/
    max-width: 1196px; /*largura máxima*/
    margin: 0 auto; /*centralizando o elemento*/
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: center;/*alinhar horizontalmente*/
    gap: 48px; /*espaçamento entre os elementos*/
}

.container-video video {/*alterações no vídeo*/
    width: 500px; /*largura*/
}

.resume-video p { /*parágrafo de resumo*/
    margin-top: 24px; /*margem do lado de cima*/
    font-size: 18px; /*tamanho da fonte*/
}


.QuemSomos { /*parte que está tudo do Quem Somos*/
    padding: 80px 0; /*Espaçamento interno, sendo 80px em cima e embaixo e 0 nas laterais*/
}

.container-QuemSomos { /*existe para centralizar*/
    width: 100%; /*largura*/
    max-width: 1196px; /*largura máxima*/
    margin: 0 auto; /*centralizando o elemento*/
}

.container-QuemSomos p { /*parágrafo de Quem Somos*/
    font-size: 18px; /*tamanho da fonte*/
    margin-top: 24px; /*margem do lado de cima*/
    margin-bottom: 24px; /*margem do lado debaixo*/
}

.cards { /* todos os cards de Nossos Pilares*/
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: space-between; /*alinhar horizontalmente*/
    gap: 48px;/*espaçamento entre os elementos*/
    padding: 32px 0;  /*Espaçamento interno, sendo 32px em cima e embaixo e 0 nas laterais*/
}

.card { /*título e imagem de cada card*/
    display: flex; /* facilitar o posicionamento dos elementos*/
    align-items: center; /*centralizado verticalmente*/
    padding: 16px 48px; /*espaçamento no conteúdo, sendo 16px em cima e embaixo e 48px nas laterais*/
    gap: 16px;/*espaçamento entre os elementos*/
    border: 2px solid black; /*borda inteira*/
    border-radius: 6px; /*arredondamento da borda*/
}


.projetos { /*parte inteira do Nossos Projetos*/
    padding: 80px 0; /*espaçamento no conteúdo, sendo 80px em cima e embaixo e 0 nas laterais*/
    background-color: white; /*cor de fundo*/
}

.container-projetos { /*existe para centralizar*/
    width: 100%; /*largura*/
    max-width: 1196px; /*largura máxima*/
    margin: 0 auto; /*centralizando o elemento*/
}

.container-projetos h2 { /*título dos projetos*/
    margin-bottom: 24px; /*margem na parte debaixo do título*/
}

.projeto-card img { /*imagens que estão nos projetos*/
    width: 250px; /*largura*/
    height: 160px; /*altura*/
    border-radius: 6px; /*arredondamento da borda*/
}

.projeto-card {/*possui o título, o parágrafo e as imagens*/
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: center; /*alinhar horizontalmente*/
    gap: 16px; /*espaçamento entre os elementos*/
    margin-bottom: 32px; /*margem do lado debaixo*/
    padding: 12px 12px 24px 12px; /*espaçamento das laterais do conteúdo, sendo respectivamente cima, direita, baixo, esquerda*/
    border-bottom: 1px solid #818181; /*borda inteira*/
}

.card-content p { /*parágrafo dos cards*/
    padding: 8px 0; /*espaçamento no conteúdo, sendo 8px em cima e embaixo e 0 nas laterais*/
}

/*
Footer - Rodapé
*/

.container-footer { /*existe para centralizar*/
    width: 100%; /*largura*/
    max-width: 1196px; /*largura máxima*/
    margin: 0 auto; /*centralizando o elemento*/
    padding: 24px; /*espaçamento no conteúdo, sendo 24px em todos os lados*/
}

.container-footer ul { /*alterar a direção da lista */
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: space-between; /*alinhar horizontalmente*/
    align-items: center; /*centralizar verticalmente*/
    list-style: none; /* retira os pontinhos da lista*/
    gap: 16px; /*espaçamento entre os elementos*/
}

.footer-info a { /*estilização do design do link*/
    text-decoration: none; /*retirar o sublinhado*/
    font-size: 14px;/*tamanho da fonte*/
    color: black;/*cor da fonte*/
}

.footer-info a:hover { 
    color: white; /*cor da fonte*/
    transition: all ease 0.2s;/*tempo de transição ao colocar o mouse em cima*/
}

.footer-info p {
    font-weight: bold; /*negrito*/
    font-size: 14px;/*tamanho da fonte*/
}

.container-footer img { 
    width: 32px; /*largura*/
    height: 32px; /*altura*/
}

.container-footer ul li {
    display: flex; /* facilitar o posicionamento dos elementos*/
    align-items: center; /*centralizado verticalmente*/
    gap: 8px;/*espaçamento entre os elementos*/
}

.lista-alunos {
    padding: 12px; /*Espaçamento interno, sendo 12px em todos os lados*/
}

.ano {
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: center; /*alinhar horizontalmente*/
    margin-bottom: 16px;/*margem do lado debaixo*/
}

.ano p {
    font-size: 18px;/*tamanho da fonte*/
    font-weight: bold;/*negrito*/
}

/* *********************************************************************************************************************************************** */






/* 
Página Como Ajudar
*/

.help {
    background-color: #5fbbf0;/* cor de fundo */
    padding: 48px 0; /*Espaçamento interno, sendo 48px em cima e embaixo e 0 nas laterais*/
}

.container-help {
    width: 100%;/*largura*/
    max-width: 1196px; /*largura máxima*/
    margin: 0 auto;/*centralizando o elemento*/
}

.container-help h1 {
    margin-bottom: 24px;/*margem do lado debaixo*/
}

.start {
    font-size: 20px;/*tamanho da fonte*/
    margin-bottom: 24px;/*margem do lado debaixo*/
}

.info-bank {
    margin-top: 16px;/*margem do lado de cima*/
}

.info-bank p {
    font-size: 20px;/*tamanho da fonte*/
}

.form {
    background-color: white;/* cor de fundo */
    padding: 48px 0;  /*Espaçamento interno, sendo 48px em cima e embaixo e 0 nas laterais*/
}

.container-form {
    width: 100%;/*largura*/
    max-width: 1196px; /*largura máxima*/
    margin: 0 auto;/*centralizando o elemento*/

    display: flex; /* facilitar o posicionamento dos elementos*/
    flex-direction: column; /*alinhar em coluna*/
}

.container-form h2 {
    margin-bottom: 24px;/*margem do lado debaixo*/
}

.container-form p {
    font-size: 20px;/*tamanho da fonte*/
    margin-bottom: 8px;/*margem do lado debaixo*/
}

.container-form input {
    width: 300px;/*largura*/
    padding: 6px 12px;  /*Espaçamento interno, sendo 6px em cima e embaixo e 12px nas laterais*/
    margin-bottom: 12px;/*margem do lado debaixo*/
    border-radius: 6px; /*arredondamento da borda*/
    font-size: 16px;/*tamanho da fonte*/
    font-family: 'Roboto', sans-serif; /*fonte utilizada no input*/
}

.container-form a {
    width: 72px;/*largura*/
    text-decoration: none;/*retirar o sublinhado*/
    color: black;/*cor da fonte*/
    border: 2px solid black; /*borda inteira*/
    border-radius: 6px; /*arredondamento da borda*/
    padding: 4px 12px; /*Espaçamento interno, sendo 4px em cima e embaixo e 12px nas laterais*/
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: center; /*alinhar horizontalmente*/
    background-color: white;/* cor de fundo */
    font-weight: bold;/*negrito*/
    margin-top: 12px;/*margem do lado de cima*/
}

.container-form a:hover {
    border: 2px solid #5fbbf0;/*borda inteira*/
    color: #5fbbf0;/*cor da fonte*/
    transition: all ease 0.2s;/*tempo de transição ao colocar o mouse em cima*/
}

.doacao {
    background-color: #5fbbf0;/* cor de fundo */
    padding: 48px 0;  /*Espaçamento interno, sendo 48px em cima e embaixo e 0 nas laterais*/
}

.container-doacao {
    width: 100%;/*largura*/
    max-width: 1196px; /*largura máxima*/
    margin: 0 auto;/*centralizando o elemento*/
}

.container-doacao h2 {
    margin-bottom: 24px;/*margem do lado debaixo*/
}

.container-doacao p {
    font-size: 20px;/*tamanho da fonte*/
    margin-bottom: 12px;/*margem do lado debaixo*/
}

.end {
    background-color: white;/* cor de fundo */
    padding: 72px 0;  /*Espaçamento interno, sendo 72px em cima e embaixo e 0 nas laterais*/
}

.container-end {
    width: 100%;/*largura*/
    max-width: 1196px; /*largura máxima*/
    margin: 0 auto;/*centralizando o elemento*/
}

.container-end p {
    font-size: 20px;/*tamanho da fonte*/
    font-weight: bold;/*negrito*/
    text-align: center; /*texto centralizado*/
} 
/* *********************************************************************************************************************************************** */







/* 
Página Parceiros
 */

 .parceiros {
    background-color: #5fbbf0;/* cor de fundo */
    padding: 48px 0; /*Espaçamento interno, sendo 48px em cima e embaixo e 0 nas laterais*/
}

.container-parceiros{
    width: 100%;/*largura*/
    max-width: 1196px; /*largura máxima*/
    margin: 0 auto;/*centralizando o elemento*/
}


.container-parceiros p {
    font-size: 20px;/*tamanho da fonte*/
    margin-top: 24px;/*margem do lado de cima*/
}

.logos {
    background-color: white;/* cor de fundo */
    padding: 48px 0;  /*Espaçamento interno, sendo 48px em cima e embaixo e 0 nas laterais*/
}

.container-logos {
    width: 100%;/*largura*/
    max-width: 1196px;/*largura máxima*/
    margin: 0 auto;/*centralizando o elemento*/

    display: flex; /* facilitar o posicionamento dos elementos*/
    flex-wrap: wrap;
    justify-content: center;/*alinhar horizontalmente*/
    align-items: center;  /*centralizar verticalmente*/
    gap: 24px;/*espaçamento entre os elementos*/
    
}

.container-logos img {
   width: 200px;/*largura*/
    height: 200px;/*altura*/
}
/* *********************************************************************************************************************************************** */







/*
 Página Notícias
*/
.container-area-noticias {
    width: 100%;/*largura*/
    max-width: 1196px;/*largura máxima*/
    margin: 0 auto;/*centralizando o elemento*/
    padding: 48px 0; /*Espaçamento interno, sendo 48px em cima e embaixo e 0 nas laterais*/
    
}

.container-area-noticias h1 {
    margin-bottom: 24px;/*margem do lado debaixo*/
}

.area-card-noticias {
    display: flex; /* facilitar o posicionamento dos elementos*/
    gap: 12px;/*espaçamento entre os elementos*/
    margin-bottom: 24px;/*margem do lado debaixo*/
    border-bottom: 1px solid black;/*borda inteira*/
    padding-bottom: 24px; /*Espaçamento interno, sendo 24px embaixo*/
}

.container-area-noticias img {
    width: 300px;/*largura*/
    height: 200px;/*altura*/
    min-width: 300px;/*largura mínima*/
    border: 2px solid black;/*borda inteira*/
    border-radius: 6px; /*arredondamento da borda*/
}

.text-area-noticias h4 {
    margin-bottom: 8px;/*margem do lado debaixo*/
    font-size: 24px;/*tamanho da fonte*/
}

.text-area-noticias p {
    font-size: 18px;/*tamanho da fonte*/
}
/* *********************************************************************************************************************************************** */







/* Página Eventos */

.container-area-eventos {
    width: 100%;/*largura*/
    max-width: 1196px;/*largura máxima*/
    margin: 0 auto;/*centralizando o elemento*/
    padding: 48px 0; /*Espaçamento interno, sendo 48px em cima e embaixo e 0 nas laterais*/
}

.container-area-eventos h1 {
    margin-bottom: 24px;/*margem do lado debaixo*/
}

.area-card-eventos {
    display: flex; /* facilitar o posicionamento dos elementos*/
    gap: 12px;/*espaçamento entre os elementos*/
    margin-bottom: 24px;/*margem do lado debaixo*/
    border-bottom: 1px solid black;/*borda inteira*/
    padding-bottom: 24px; /*Espaçamento interno, sendo 24px embaixo*/
}

.container-area-eventos img {
    width: 300px;/*largura*/
    height: 200px;/*altura*/
    min-width: 300px; /*largura mínima*/
    border: 2px solid black;/*borda inteira*/
    border-radius: 6px; /*arredondamento da borda*/
}

.text-area-eventos h4 {
    margin-bottom: 8px;/*margem do lado debaixo*/
    font-size: 24px;/*tamanho da fonte*/
}

.text-area-eventos p {
    font-size: 18px;/*tamanho da fonte*/
}
/* ********************************************************************************************************************************************/





/* 
Página Fale Conosco 
*/

.endereco {
    background-color: #5fbbf0;/* cor de fundo */
    padding: 48px 0; /*Espaçamento interno, sendo 48px em cima e embaixo e 0 nas laterais*/
}

.container-endereco{
    width: 100%;/*largura*/
    max-width: 1196px;/*largura máxima*/
    margin: 0 auto;/*centralizando o elemento*/
}

.container-endereco h1 {
    margin-bottom: 48px;/*margem do lado debaixo*/
}

.container-endereco ul {
    list-style: none;/* retira os pontinhos da lista*/
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: space-between; /*alinhar horizontalmente*/
}

.container-endereco ul li {
    display: flex; /* facilitar o posicionamento dos elementos*/
    align-items: center; /*centralizar verticalmente*/
    flex-direction: column;/*alinhar em coluna*/
    gap: 12px;/*espaçamento entre os elementos*/
    flex: 1; /*será posicionado de acordo com o espaço*/
}

.container-endereco a {
    text-decoration: none;/*retirar o sublinhado*/
    text-align: center;/*texto centralizado*/
    color: black;/*cor da fonte*/
}

.endereco a:hover {
    color: white;/*cor da fonte*/
    transition: all ease 0.2s;/*tempo de transição ao colocar o mouse em cima*/
}

.social a:hover {
    color: #5fbbf0;/*cor da fonte*/
    transition: all ease 0.2s;/*tempo de transição ao colocar o mouse em cima*/
}

.container-endereco h4 {
    font-size: 20px;/*tamanho da fonte*/
}

.container-endereco img {
    width: 48px;/*largura*/
    height: 48px;/*altura*/
}

.social {
    background-color: white;/* cor de fundo */
    padding: 48px 0; /*Espaçamento interno, sendo 48px em cima e embaixo e 0 nas laterais*/
}

