@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    overflow-x: hidden; 
}

body { 
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #27A8AD;
    height: 76px;
}

.container-header {
    width: 100%; 
    height: 76px; 
    max-width: 1196px; 
    margin: 0 auto;
}

.content-header {
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.content-header img{
    width: 150px;
    height: 60px;
}

header ul {
    list-style: none;
    display: flex; 
    justify-content: center;
    gap: 24px;
}

header ul li a { 
    text-decoration: none;
    color: white; 
    font-size: 18px; 
}

header ul li a:hover {
    color: yellow; 
    transition: all ease 0.2s;
}

.menuAtivo {
    color: yellow;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

h1 {
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    border: 1px solid #ccc;
    padding: 7px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    flex-basis: calc(33.33% - 20px);
    height: 600px;
    box-sizing: border-box;
    border-radius: 10px;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
}

.product h2 {
    height: 30px;
    margin: 10px;
    font-size: 20px;
}

.product p {
    text-align: justify;
    height: 60px;
    margin: 10px;
    font-size: 16px;
}

.preco{
    display: flex;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    bottom:20px;
    left: 10px;
    position: relative;
}

.product button:hover {
    background-color: #555;
}

/********** Início *********/
#bodyBanner{
    display: flex;
    height: 100vh;
    background-image: url(assets/pets.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}
.inicio{
    gap: 80px;
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    overflow: hidden;
}

.inicio .conteudo{
    width: 25%;
}

.inicio .conteudo img{
    margin-bottom: 20px;
}

.conteudo .imglogos{
    cursor: pointer;
    height: 20vh;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.inicio .conteudo .texto{
    font-size: x-large;
    color: #000000;
 }

.conteudo input{
    font-weight: bold;
    cursor:pointer;
    color: #ffffff;
    background-color: #27A8AD;
    border: 1px solid #27A8AD;
    font-size: larger;
    border-radius: 10px;
    margin-top:20px;
    width: 24vw;
    height: 5vh;
 }

 .conteudo input:hover{
    border-color: rgb(0, 0, 0);
 }

/*Footer - Rodapé*/

.container-footer { /*existe para centralizar*/
    width: 100%; /*largura*/
    max-width: 1196px; /*largura máxima*/
    margin: 0 auto; /*centralizando o elemento*/
    padding: 24px; /*espaçamento no conteúdo, sendo 24px em todos os lados*/
}

.container-footer ul { /*alterar a direção da lista */
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: space-between; /*alinhar horizontalmente*/
    align-items: center; /*centralizar verticalmente*/
    list-style: none; /* retira os pontinhos da lista*/
    gap: 16px; /*espaçamento entre os elementos*/
}

.footer-info a { /*estilização do design do link*/
    text-decoration: none; /*retirar o sublinhado*/
    font-size: 14px;/*tamanho da fonte*/
    color: black;/*cor da fonte*/
}

.footer-info a:hover { 
    color: white; /*cor da fonte*/
    transition: all ease 0.2s;/*tempo de transição ao colocar o mouse em cima*/
}

.footer-info p {
    font-weight: bold; /*negrito*/
    font-size: 14px;/*tamanho da fonte*/
}

.container-footer img { 
    width: 32px; /*largura*/
    height: 32px; /*altura*/
}

.container-footer ul li {
    display: flex; /* facilitar o posicionamento dos elementos*/
    align-items: center; /*centralizado verticalmente*/
    gap: 8px;/*espaçamento entre os elementos*/
}

.lista-alunos {
    padding: 12px; /*Espaçamento interno, sendo 12px em todos os lados*/
}

.ano {
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: center; /*alinhar horizontalmente*/
    margin-bottom: 16px;/*margem do lado debaixo*/
}

.ano p {
    font-size: 18px;/*tamanho da fonte*/
    font-weight: bold;/*negrito*/
}