@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    overflow-x: hidden; 
}

:root{
    --corPrimaria: #27A8AD;
}

hr{
    width: 90%;
    position: sticky;
    left: 10px;
}

header {
    box-shadow: 2px 2px 10px gray;
    height: 100vh;
    width: 15vw;
    position: fixed;
    background-color: var(--corPrimaria);
}

.container-header {
    justify-content: center;
    margin: auto;
    height: 100vh; 
}

.content-header {
    height: 100%;
    display: grid;
    align-items: center; 
    justify-content: space-between;  
}

.content-header .imgLogo{
    top:20px;
    left: 20px;
    position: fixed;
}

.header a:hover {
    background-color: #47bfc4;
    border-radius: 10px;
    width: 100%;
}

.content-header img{
    width: 150px;
    height: 60px;
}

header ul {
    list-style: none;
    gap: 24px;
    align-items: baseline;
    justify-content: center;
    height: 70vh;
    width: 15vw;
    display: grid; 
}

.header li{
    display: flex;
}

header ul li a { 
    padding: 10px;
    align-items: center;
    display: flex;
    gap: 15px;
    font-size: 20px; 
    font-weight: normal;
    text-decoration: none;
    color: white; 
    font-size: 18px; 
}

.header li img{
    width: 32px;
    height: 32px;
}

.menuAtivo {
    background-color: #47bfc4;
    border-radius: 10px;
    width: 100%;
}

.geral{
    width: 70vw;
    display: grid;
}

body {
    display: grid;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

h1 {
    margin: 0;
}

/********** MarketPlace *********/
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product {
    border: 1px solid #ccc;
    padding: 7px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    flex-basis: calc(33.33% - 20px);
    height: 500px;
    box-sizing: border-box;
    border-radius: 10px;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

.product h2 {
    height: 30px;
    margin: 10px;
    font-size: 20px;
}

.product p {
    text-align: justify;
    height: 60px;
    margin: 10px;
    font-size: 16px;
}

.preco{
    display: flex;
}

.product button {
    box-shadow: 2px 2px 5px gray;
    background-color: var(--corPrimaria);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    bottom:20px;
    left: 10px;
    position: relative;
}

.product button:hover {
    background-color: #27a8ad85 ;
}

/********** Index *********/
#bodyBanner{
    display: flex;
    height: 100vh;
    background-image: url(assets/pets.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}
.inicio{
    gap: 80px;
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    overflow: hidden;
}

.inicio .conteudo{
    width: 25%;
}

.inicio .conteudo img{
    margin-bottom: 20px;
}

.conteudo .imglogos{
    cursor: pointer;
    height: 20vh;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.conteudo .imglogos:hover{
    opacity: 0.7;
}

.inicio .conteudo .texto{
    font-size: x-large;
    color: #000000;
 }

.conteudo input{
    font-weight: bold;
    cursor:pointer;
    color: #ffffff;
    background-color: #27A8AD;
    border: 1px solid #27A8AD;
    font-size: larger;
    border-radius: 10px;
    margin-top:20px;
    width: 24vw;
    height: 5vh;
 }

 .conteudo input:hover{
    background-color: #27a8adc9;
 }



/********** Feed *********/

.linhaStories {
    justify-content: center;
    padding: 20px 0px;
    display: flex;
    height: 140px;
}

.linhaStories .conteudoStories {
    width: 80px;
    margin: 0px 20px;
}

.linhaStories .conteudoStories img {
    cursor: pointer;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.linhaStories .conteudoStories .semVisualizacao {
    border: 4px #27A8AD solid;
}

.linhaStories .conteudoStories .nomeStories {
    cursor: pointer;
    text-align: center;
    font-size: small;
}

.postagem{ 
    background-color: white;
    width: 60%;
    border-radius: 20px;
    margin: 0 auto;
}

.postagem .usuarioPostagem{
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: large;
}

.postagem .usuarioPostagem img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.postagem .usuarioPostagem span{
    color: lightgray;
    margin-left: 5px;
    font-size: smaller;
}

.postagem .imagemPostagem img{
    width: 100%;
}

.chat {
    box-shadow: 2px 2px 10px gray;
    background-color: #ebe6e6;
    width: 15vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
 }

 .chat .conteudo-chat{
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: large;
}

.chat .conteudo-chat img{
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat .conteudo-chat span{
    cursor: pointer;
    color: rgb(66, 65, 65);
    margin-left: 5px;
    font-size: smaller;
}

#online img{
    border: 4px solid rgb(39, 230, 39);
}

.amigos-chat{
    display: grid;
}

.grupo-chat{
    background-color: #ebe6e6;
    bottom: 0;
    right: 0;
    width: 15vw;
    position: fixed;
    justify-content: center;
    display: grid;
}

.adiciona-grupo{
    margin: 10px;
    display: flex;
    align-items: center;
}

.adiciona-grupo a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: medium;
    margin-left: 10px;
}

.adiciona-grupo img{
    cursor: pointer;
}

.chat::-webkit-scrollbar {
    width: 12px;
}
                    
.chat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
                    
.chat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Perfil */

.container-perfil {
    width: calc(100vw - 15vw);
    margin-right: 15vw;
    
}

.topo-esquerda{
    color: #000000;
    display: flex;
    justify-content: center;
}



/*Footer - Rodapé*/

.container-footer { 
    margin: 0 auto;
    padding: 24px;
    right: 20px;
    position: absolute;
    width:80vw;
    justify-content: center;
}

.container-footer ul { /*alterar a direção da lista */
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: space-between; /*alinhar horizontalmente*/
    align-items: center; /*centralizar verticalmente*/
    list-style: none; /* retira os pontinhos da lista*/
    gap: 16px; /*espaçamento entre os elementos*/
}

.footer-info a { /*estilização do design do link*/
    text-decoration: none; /*retirar o sublinhado*/
    font-size: 14px;/*tamanho da fonte*/
    color: black;/*cor da fonte*/
}

.footer-info a:hover { 
    color: white; /*cor da fonte*/
    transition: all ease 0.2s;/*tempo de transição ao colocar o mouse em cima*/
}

.footer-info p {
    font-weight: bold; /*negrito*/
    font-size: 14px;/*tamanho da fonte*/
}

.container-footer img { 
    width: 32px; /*largura*/
    height: 32px; /*altura*/
}

.container-footer ul li {
    display: flex; /* facilitar o posicionamento dos elementos*/
    align-items: center; /*centralizado verticalmente*/
    gap: 8px;/*espaçamento entre os elementos*/
}

.lista-alunos {
    padding: 12px; /*Espaçamento interno, sendo 12px em todos os lados*/
}

.ano {
    display: flex; /* facilitar o posicionamento dos elementos*/
    justify-content: center; /*alinhar horizontalmente*/
    margin-bottom: 16px;/*margem do lado debaixo*/
}

.ano p {
    font-size: 18px;/*tamanho da fonte*/
    font-weight: bold;/*negrito*/
}